
.bg-video {
/*устанавливаем ширину 100% по род.контейнеру*/
    width: 100%;
/* устанавливаем ширину в спец.единицах vh,чувствительны к высоте окна браузера */
    height: 20vh;
    position: relative;  
    display: flex;
/* что бы отцентровать надпись KINO */
    justify-content: center;
    align-items: center;      
}

.bg-video video {
/*устанавливаем ширину 100% по род.контейнеру*/
    width: 100%;
/* устанавливаем ширину в спец.единицах vh,чувствительны к высоте окна браузера */
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0; 
/*если наше видео переполняет какой-то контейнер,то поля,которые не вмещаются будут обрезаны 
и оно будет центровано по контейнеру*/         
    object-fit: cover;
/* применяем слои */
    z-index: 1;
    box-shadow: 5px 5px 10px 1px #00000054;
}

.video-text {
    color:aliceblue;
/* что бы можно было применить слои,необходимо в .bg-video добавить св-во display:flex
что бы потом в .bg-video video и в .video-text добавить слои z-index  */
    z-index: 2;
}

/* для затемнения видео копируем теже св-ва,что и для видео,только меняем z-index на 2(что бы было в уровень с стекстом)
 и добавляем background c прозрачностью  */
.bg-video video {
        width: 100%;
        height: 20vh;
        position: absolute;
        top: 0;
        left: 0; 
        object-fit: cover;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.4);
    }
